@reference "tailwindcss";
@import "./theme.css";

@utility stack {
  @apply flex flex-col gap-(--layout-stack-gap);

  &.tight {
    --layout-stack-gap: 0.5rem;
  }

  &.loose {
    --layout-stack-gap: 1.5rem;
  }
}

@utility cluster {
  @apply flex flex-wrap items-center gap-(--layout-cluster-gap);

  &.between {
    @apply justify-between;
  }
}

@utility auto-grid {
  @apply grid gap-(--layout-stack-gap);

  grid-template-columns: repeat(auto-fit, minmax(min(var(--layout-grid-min), 100%), 1fr));
}

@utility selection-contrast {
  &::selection,
  & *::selection {
    background: var(--color-primary-contrast);
    color: var(--color-primary);
  }
}

@utility code {
  @apply bg-surface rounded-(--radius-small) px-1.25 py-0.75 font-mono;
}

@utility pre {
  @apply bg-surface rounded-(--radius-control) px-2.5 py-1.5 font-mono;
}
